body {
  background-color:blue;
	
}
h1{
	text-align: center;
	border: solid;
	background-color: lightgray ;
	margin: 1.5em;
	
}

.maroon-text {
  width: 300px;
  color: maroon;
}

.image-size {
  width: 100px;
  border-radius: 50%;
}
[type="checkbox"] {
  margin: 0.5em;
	float: left;
}
.colored-border {
  border-style: solid;
  border-width: 5px;
  border-color: maroon;
}
#questions {
  background-color: beige ;
	border: dotted;
	width: 180px;
	float: left;
	overflow: scroll;
	margin: 1.5em;
	font-size: 25px

	}
	main{
	float: right; 
width:300px
text-align: left;
margin-left: auto
margin-right:auto 
	}
p {
  font-size: 14px;
}
footer{
	clear: both;
}

.box {
  text-align: left;
	margin-left; auto;
	margin-right: auto;
	overflow- hidden;

	_________________________________________________________
	<!-- 
	A class is initiated by the (.) and chosen text
	curley bracket with a semi colon. 
	- is it the called by Class="" in the HTML  section cosen 
	
	attribute= value
	variable 

	 -->

	<!-- COLORS
	
	* Number 1 is Style="color: etc"
	*NUmber 2 is 
	*number 3 is -->

